@import url('https://fonts.googleapis.com/css?family=Lato');

body { 
  font-family: 'Lato', sans-serif;
  color: #000000;
}

li{
  margin: 10px 0;
  font-size: 24px;
}

img {
  box-shadow: 5px 5px 1px #ccc;
}

.title-slide h1, .title-slide h2, .title-slide h3, .title-slide h4{
  text-align: center;
  color: #f5bd30;
}

.title-slide {
  background-color: #05263b;
}

.title-slide .remark-slide-number {
  display: none;
}

.logo-slide {
  background-image: url("DSApps_logo.jpg");
  background-position: center;
  background-size: contain;
  background-color: #05263b;
}

.logo-slide.remark-slide-content:after {
    background-image: none;
}

.title-slide.remark-slide-content:after {
    content: "";
    position: absolute;
    bottom: 3%;
    right: 40%;
    height: 20%;
    width: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("DSApps_logo.jpg");
}

div.my-footer {
    background-color: #ffffff;
    border-top: 1px solid #05263b;
    position: absolute;
    bottom: 0px;
    left: 80px;
    height: 35px;
    width: 100%;
}
div.my-footer span {
    font-size: 12pt;
    position: absolute;
    color: #333333;
    left: 20px;
    bottom: 10px;
}
div.my-footer a {
    font-size: 12pt;
    color: #333333;
}

.remark-slide-number {
  color: #333333;
  opacity: 1;
  font-size: 12pt;
}

/* Logo */
.remark-slide-content:after {
    content: "";
    position: absolute;
    bottom: 1%;
    right: 89%;
    height: 10.5%;
    width: 10.5%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("DSApps_logo_white.jpg");
}

/* Two-Column Layout */
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}

.font80percent {
  font-size: 80%;
}